.body {
    height: 100%;
}

.layout {

}

.container {
    display: grid;
    grid-template-columns: auto;
    background-color: red;
    padding: 1px;
    height: 100vh;
}

.coverImage {
    background-image: url("/static/bg-login3x.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.loginForm {
    background-color: #f9fafc;
}
